<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.stickycoding.RokonExamples"
      android:versionCode="2"
      android:versionName="1.1.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Launcher"
                  android:label="Rokon Example">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Example1" android:screenOrientation="landscape"/>
        <activity android:name=".Example2" android:screenOrientation="landscape"/>
        <activity android:name=".Example3" android:screenOrientation="landscape"/>
        <activity android:name=".Example4" android:screenOrientation="landscape"/>
        <activity android:name=".Example5" android:screenOrientation="landscape"/>
        <activity android:name=".Example6" android:screenOrientation="landscape"/>
        <activity android:name=".Example7" android:screenOrientation="landscape"/>
        <activity android:name=".Example8" android:screenOrientation="landscape"/>
        <activity android:name=".Example9" android:screenOrientation="landscape"/>
        <activity android:name=".Example10" android:screenOrientation="landscape"/>
        <activity android:name=".Example11" android:screenOrientation="landscape"/>
        <activity android:name=".Example12" android:screenOrientation="landscape"/>
        <activity android:name=".Example13" android:screenOrientation="landscape"/>
        <activity android:name=".Example14" android:screenOrientation="landscape"/>
        <activity android:name=".Example15" android:screenOrientation="landscape"/>
        <activity android:name=".Example16" android:screenOrientation="landscape"/>
        <activity android:name=".Example17" android:screenOrientation="landscape"/>
        <activity android:name=".Example18" android:screenOrientation="landscape"/>
        <activity android:name=".Example19" android:screenOrientation="landscape"/>
        <activity android:name=".Example20" android:screenOrientation="landscape"/>
        
</application>
    <uses-sdk android:minSdkVersion="4" />

<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
</manifest> 